#table {
  background-color: white;
  width: 70vw;
  margin: auto;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 3px 5px 8px hsla(0, 0%, 53.3%, 0.6);
  gap: 2rem;
}
.table-cell {
  display: grid;
  grid-template-areas: 'header header quantity price';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.table-names {
  grid-area: header;
}

.table-quantity {
  grid-area: quantity;
}

.table-price {
  grid-area: price;
}
.btn {
  width: 100%;
  color: #fff;
  background-color: #007bff;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  color: #303030;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
div[editext='view'] {
  text-decoration: underline;
  text-decoration-style: dotted;
}
button.close {
  background-color: transparent;
  font-weight: bolder;
  color: black;
  text-align: right;
  font-size: 2rem;
  padding: 0;
  line-height: 1rem;
}

#modal > #form-modal,
#modal > #pay-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

#modal > #form-modal > form,
#modal > #pay-modal > article {
  background-color: white;
  margin: auto;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 3px 5px 8px hsla(0, 0%, 53.3%, 0.6);
}

@media screen and (max-width: 424px) {
  .table-cell {
    grid-template-areas:
      'header'
      'quantity'
      'price';
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }
}
