#landing-page {
  width: 50vw;
  margin: auto;
}

#landing-page > #orders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

#landing-page > #orders-container > a {
  text-decoration: none;
}
#landing-page > #orders-container > a > .order-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  color: white;
  background: linear-gradient(to bottom, #00b7ff, #c896ff);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  #landing-page {
    width: 80vw;
  }
}
